header {
  width: 100%;
  height: 100vh;
}
.restaurant-title {
  writing-mode: vertical-lr;
  position: absolute;
  top: 17%;
  left: 15%;
  @include sp {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, 0);
    z-index: 2;
  }
  &__name {
    text-indent: 1.6rem;
    font-size: 4rem;
    letter-spacing: 30px;
    margin-right: 28px;
    @include sp {
      font-size: 7rem;
      // -webkit-text-stroke: 1px gray;
      text-shadow: 0 0 4px black;
    }
  }
  &__subname {
    font-size: 1.6rem;
    letter-spacing: 5px;
    @include sp {
      font-size: 2rem;
    }
  }
}

.menu-list {
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-25%, 0);
  @include sp {
    display: none;
  }
  li {
    font-size: 1.8rem;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.apoint {
  width: 6%;
  height: 33%;
  background: linear-gradient(to bottom, #BF0000, #641616); 
  position: absolute;
  top: 67%;
  left: 0;
  @include sp {
    width: 10%;
    z-index: 2;
  }
  &__btn {
    writing-mode: vertical-rl;
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 4px;
    // border: 1px solid #D6D5D5;
    padding: 0 38%;
    // margin: 7% 12%;
    @include sp {
      padding: 0 34%;
    }
  }
}

.img-back {
  width: 60.5%;
  height: 80%;
  background-color: $whine;
  position: absolute;
  top: 0;
  right: 0;
  @include sp {
  display: none;
  }
}

.header-img {
  width: 65%;
  height: 80%;
  position: absolute;
  top: 13%;
  right: 4%;
  z-index: 1;
  @include sp {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    width: 100%;
    height: 100%;
    }
}
